.video-form
  %h2 動画情報の編集
  = render 'form', video: @video
.link-menu
  = link_to "YouTubeへ", "#{@video.url}", target:"_blank", class: "link-btn youtube-btn"
  = link_to "TOPに戻る", "/videos#display__info", method: :get, class: "link-btn top-btn"