.video-form
  %h2 お気に入り動画を登録しよう！
  = render 'form', video: @video
.link-menu
  = link_to "動画を探す", "https://www.youtube.com/", target:"_blank", class: "link-btn youtube-btn"
  = link_to "TOPに戻る", "/videos#display__info", method: :get, class: "link-btn top-btn"