.video-form{
  height: 70%;
  width: 70vw;
  margin: 3vw auto 1vw;
  padding: 20px 40px 20px 40px;
  border: 2px solid $light-gray;
  & .error ul li{
    padding-top: 3px;
    box-sizing: border-box;
    color: $red;
    font-weight: bold;
  }
  & h2{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  &__label{
    display: block;
    line-height: 50px;
    font-weight: bold;
    text-align: right;
    font-size: 20px;
  }
  &__input{
    float: left;
    width: 100%;
    line-height: 30px;
    padding: 10px 15px;
    box-sizing: border-box;
  }
  &__field{
    margin-top: 30px;
    &:after{
      content: "";
      clear: both;
      display: block;
    }
    &--left{
      float: left;
      width: 30%;
      padding-right: 20px;
      padding-left: 20px;
      box-sizing: border-box;
    }
    &--right{
      float: right;
      width: 70%;
    }
    &__btn{
      margin-bottom: 5px;
      padding: 10px 20px;
      font-size: 14px;
      cursor: pointer;
      border: $black solid 1px;
      background-color: $yellow;
      border-radius: 5px;
      &:hover{
        opacity: 0.6;
      }
      &:focus{
        outline: none;
      }
    }
  }
  &__btn{
    margin: 30px auto;
    display: block;
    padding: 12px 100px;
    color: $white;
    font-size: 1.2em;
    font-weight: bold;
    background-color: $red;
    cursor: pointer;
    &:hover{
    opacity: 0.6;
    }
  }
}

.link-menu{
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-btn{
  width: 11vw;
  display: block;
  margin: 10px;
  padding: 10px 50px;
  text-align: center;
  font-size: 1.2em;
  cursor: pointer;
  &:hover{
    opacity: 0.6;
  }
}

.youtube-btn{
    background-color: $black;
    color: $white;
    border: 2px solid $black;
  }

.top-btn{
  background-color: $white;
  color: $gray;
  border: 1px solid $black;
}