.wrapper{
  height: 100vh;
}

#display{
  box-sizing: border-box;
  width:100vw;
  height: 100vh;
  background: $black;
  color: $gray;
  position: relative;
  &__msg{
    width: 100%;
    height: 100%;
    font-size: 50px;
    font-style: italic;
  }
  &__info{
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    background-color: $white;
    color: $red;
    font-size: 40px;
    position: absolute;
    bottom: 0;
  }
}

#top-menu{
  width: 100vw;
  height: 70px;
  background-color: $red;
  padding: 10px 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  &__wrapper{
    height: 10vh;
   }
  &.is-fixed{
    position: fixed;
    left:0;
    top:0;
  }
  & ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    & li{
      margin: 5px;
      &a{
        color: $black;
      }
      &#search{
        width: 100%;
      }
      & input{
        min-width: 100%;
        height: 90%;
        font-size: 1.3em;
      }
      & .menu-btn{
        padding: 5px;
        font-weight: bold;
        margin-left: 10px;
        background: $white;
        color: $black;
        cursor: pointer;
        &:hover{
          background: $black;
          color: $white;     
        }
        &:focus{
         outline: none;
        }
      }
    }
  }
}

section{
  margin: 15px 60px;
  overflow: scroll;
}

#title-count{
  font-size: 20px;
  font-weight: bold;
  width: 95%;
  margin: auto;
}


table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 95%;
  margin: auto;
}

table tr{
  border-bottom: solid 1px $gray;
}

table th,table td{
  text-align: center;
  padding: 5px 0;
}

th{
  font-weight: bold;
  font-size: 1.1em;
}

.word{
  cursor: pointer;
  width: 20%;
  font-size: 18px;
  &:hover{
    background-color: $black;
    color: $white;
  }
}

.title{
  width: 45%;
  padding: 5px;
}

.btn-menu{
  width: 5%;
}

.t-btn{
  margin: 0;
  padding: 5px 10px;
  font-size: 1.1em;
  cursor: pointer;
  &:focus{
   outline: none;
  }
  &.delete:hover{
    background-color: $red;
    color: $white;
    border: 1px solid $black;
  }
  &.edit:hover{
    background-color: $blue;
    color: $white;
    border: 1px solid $black;
  }
}

#notitle-msg{
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

#index-flash{
  height: 30px;
  &__msg{
    width: 95%;
    height: 30px;
    font-size: 20px;
    background: $yellow;
    margin: 5px auto;
    text-align: center;
  }
} 